html, body, h1, h2, h3, h4, h5, h6 {font-family: "Roboto", sans-serif}

@media screen and (max-width: 600px) {
    .w3-col.m12 {
      width: 100%;
      display: block;
    }
  }

a {
    cursor: pointer; /* Käsikursori kaikille linkeille */
}

.link-container a, p a {
    color: inherit;
    text-decoration: none;
}

.link-container:hover a, .link-container:hover p a, p:hover a {
    color: #009688;
}

.w3-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.w3-row-padding {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.w3-third, .w3-twothird {
    display: flex;
    flex-direction: column;
}

.w3-white {
    flex: 1;
}

footer.w3-container {
    padding: 20px 0;
}
