html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

a {
    cursor: pointer; /* Käsikursori kaikille linkeille */
}

.w3-container p {
    text-align: justify;
    text-justify: inter-word;
}

.w3-content {
    max-width: 100%; /* Säädä maksimileveys 100%:iin */
    margin: 0; /* Poista marginaalit */
    padding: 0; /* Poista padding */
}

.w3-container {
    padding: 0; /* Poista padding */
    /* Jos tarvitset sisätilaa, säädä tämä arvo harkiten */
}


.link-container a, p a {
    color: inherit;
    text-decoration: none;
}

.link-container:hover a, .link-container:hover p a, p:hover a {
    color: #009688;
}

.w3-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.w3-row-padding {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.w3-third, .w3-twothird {
    display: flex;
    flex-direction: column;
}

.w3-white {
    flex: 1;
}

footer.w3-container {
    padding: 20px 0;
}

/* Profiiliosion tyyli */
.profil-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profil-container img {
    margin-right: 15px;
    width: 80px; /* Tässä määritellään kuvan leveys, muuta tarvittaessa */
}


/* Profiiliosion tyyli */
.profil-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic {
    margin-right: 15px;
    width: 80px; /* Tässä määritellään kuvan leveys, muuta tarvittaessa */
    flex-shrink: 0; /* Estä kuvan kutistuminen pienillä näytöillä */
}

.profile-info {
    flex-grow: 1; /* Ota jäljellä oleva tila käyttöön */
    min-width: 0; /* Estä tekstielementin venyminen yli vanhemman leveyden */
}

/* Määritellään, miten elementit käyttäytyvät pienillä näytöillä */
@media screen and (max-width: 600px) {
    .profil-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic {
        margin-bottom: 10px;
        width: 100%; /* Aseta kuva täyttämään koko tila mobiilissa */
        max-width: 80px; /* Määritä maksimileveys */
    }

    .profile-info {
        width: 100%; /* Aseta teksti täyttämään koko tila mobiilissa */
    }
}
