html, body, h1, h2, h3, h4, h5, h6 {font-family: "Roboto", sans-serif}

a {
    cursor: pointer; /* Käsikursori kaikille linkeille */
}

.w3-container p {
    text-align: justify;
    text-justify: inter-word;
}

.link-container a, p a {
    color: inherit;
    text-decoration: none;
}

.link-container:hover a, .link-container:hover p a, p:hover a {
    color: #009688;
}

.w3-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.w3-row-padding {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.w3-third, .w3-twothird {
    display: flex;
    flex-direction: column;
}

.w3-white {
    flex: 1;
}

footer.w3-container {
    padding: 20px 0;
}

/* Profiiliosion tyyli */
.w3-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.w3-container img {
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .w3-third, .w3-twothird {
        width: 100%;
        display: block;
    }
    .w3-container {
        display: block;
    }
    .w3-container img {
        margin-bottom: 10px;
    }
    /* Lisää muita mobiilimuutoksia tarpeen mukaan */
}
